name: build-ncbi-cxx-toolkit-macos

on:
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false

      download:
        type: boolean
        description: "Download to RPM repo"
        required: false
        default: true        

jobs:
  build:
    strategy:
      matrix:
        runner:
          - macos-15-intel
          - macos-15
          - macos-26

        include:
          - runner: macos-15
            codename: Sequoia

          - runner: macos-15-intel
            codename: Sequoia            

          - runner: macos-26
            codename: Tahoe
            
    runs-on: ${{matrix.runner}}
    steps:
      - uses: actions/checkout@v5

      - name: Get system information
        run: |
          echo macos_version="$(sw_vers -productVersion)" >> "$GITHUB_ENV"
          echo architecture="$(uname -m)" >> "$GITHUB_ENV"
        
      - name: Install Homebrew
        env:
          CI: 1
        run: >
          CI=1 /bin/bash -c "$(
          curl
          -fsSL
          https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh
          )"
          
      - name: Tap homebrew/core
        run: brew tap homebrew/core

      - name: Tap this repository
        run: brew tap ${{ github.repository }}

      - name: Build bottle
        env:
          HOMEBREW_NO_INSTALL_FROM_API: 1
        run: brew install --build-bottle --debug ncbi-cxx-toolkit

      - name: Bottle formula
        run: brew bottle ncbi-cxx-toolkit

      - name: Make bottle JSON
        run: brew bottle --json ncbi-cxx-toolkit

      - name: Upload bottle
        id: artifact-upload
        uses: actions/upload-artifact@v4
        with:
          name: "${{matrix.codename}}-${{env.architecture}}"
          path: "ncbi-cxx-toolkit-*.bottle.*tar.gz"
          if-no-files-found: error
          retention-days: 1
          overwrite: true

      - name: Upload bottle JSON
        uses: actions/upload-artifact@v4
        with:
          name: "${{matrix.codename}}-${{env.architecture}}-json"
          path: "ncbi-cxx-toolkit-*.bottle.json"
          if-no-files-found: error
          retention-days: 1
          overwrite: true      
          

      - name: Download to brew repo
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.download }}
        run: >
          curl -f -G -u "ci:${{secrets.CI_GET_PASSWORD}}"
          https://www.cs.uky.edu/~acta225/ci_get/get.php
          -d "repo=${{github.repository}}"
          -d "artifactId=${{steps.artifact-upload.outputs.artifact-id}}"  

  update-formula-bottle:
    runs-on: macos-latest
    needs: [build]
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v5
        
      - name: Download bottle JSONs
        uses: actions/download-artifact@v5
        with:
          pattern: '*-json'

      - name: Install Homebrew
        env:
          CI: 1
        run: >
          CI=1 /bin/bash -c "$(
          curl
          -fsSL
          https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh
          )"

      - name: Tap homebrew/core
        run: brew tap homebrew/core

      - name: Tap this repository
        run: brew tap ${{ github.repository }}          

      - name: Download bottle merge script
        run: git clone https://github.com/actapia/manylinux_packages

      - name: Install ruby
        run: brew install ruby

      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}        

      - name: Merge bottles
        run: >
          set -o pipefail;
          /opt/homebrew/opt/ruby/bin/ruby manylinux_packages/join_bottle_json.rb
          --url 'https://cs.uky.edu/~acta225/brew' *json/* |
          tee "$HOME/merged.json"

      - name: Update formula
        run: brew bottle --merge --write "$HOME/merged.json"

      - name: Copy updated formula
        run: "mv /opt/homebrew/Library/Taps/${{github.repository}}/Formula/\
        ncbi-cxx-toolkit.rb Formula/ncbi-cxx-toolkit.rb"

      - name: Remove extra directories
        run: |
          rm -r *json
          rm -rf manylinux_packages
          

      - name: Create pull request
        uses: peter-evans/create-pull-request@v7
        with:
          title: Update ncbi-cxx-toolkit formula bottle section
          commit-message: Update ncbi-cxx-toolkit formula bottle section
