on:
  workflow_call:
    inputs:
      formula_name:
        required: true
        type: string

jobs:
  update-formula-bottle:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
        
      - name: Download bottle JSONs
        uses: actions/download-artifact@v5
        with:
          pattern: '*-json'

      - name: Install Homebrew
        env:
          CI: 1
        run: >
          CI=1 /bin/bash -c "$(
          curl
          -fsSL
          https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh
          )"

      - name: Tap homebrew/core
        run: brew tap homebrew/core

      - name: Tap this repository
        run: brew tap ${{ github.repository }}          

      - name: Download bottle merge script
        run: git clone https://github.com/actapia/manylinux_packages

      - name: Install ruby
        run: brew install ruby

      - name: Merge bottles
        run: >
          set -o pipefail;
          /opt/homebrew/opt/ruby/bin/ruby manylinux_packages/join_bottle_json.rb
          --url 'https://cs.uky.edu/~acta225/brew' *json/* |
          tee "$HOME/merged.json"

      - name: Update formula
        run: brew bottle --merge --write "$HOME/merged.json"

      - name: Copy updated formula
        run: "mv /opt/homebrew/Library/Taps/${{github.repository}}/Formula/\
        ${{inputs.formula_name}}.rb Formula/${{inputs.formula_name}}.rb"

      - name: Remove extra directories
        run: |
          rm -r *json
          rm -rf manylinux_packages
          

      - name: Create pull request
        uses: peter-evans/create-pull-request@v7
        with:
          title: Update ${{inputs.formula_name}} formula bottle section
          commit-message: Update ${{inputs.formula_name}} formula bottle section
